.box{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin-left:250px ;
    margin-top: 250px;
     transition: transform 3s;  /*tarnsition applied on transformation */
}
.box:hover{
    /* transform: scaleX(2); */
    /* transform: scaleY(2); */
    /* transform: scale(2,2); applied on both x and y */
    /* transform: skewX(30deg); */
    /* transform: skewY(60deg); */
    /* transform: skew(30deg, 30deg); */
    /* transform: rotate(180deg); */
    transform: translate(100px);
}